{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Login at Mixcom{% endblock %}

{% block body %}
    {% if error %}
        <div class="text-center alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="text-center d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <form class="form-signin" method="post">
        <img class="mb-5" src="https://mixcom.nl/content/uploads/mix-com-logo-liggend.jpg" alt="Logo">
        <h1 class="h4 mb-4">Please sign in</h1>

        <label for="identity" class="sr-only">Identity</label>
        <input type="text" id="identity" name="identity"  placeholder="Identity" value="{{ identity }}" class="form-control" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>

        <input type="hidden" name="_target_path" value="/" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}
