{% extends 'base.html.twig' %}

{% block title %}Add a Job{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        {{ form_start(form)}}
            {{ form_row(form.title)}}
            {{ form_row(form.description) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Job!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
