{% extends 'base.html.twig' %}

{% block title %}Index Jobs{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        {% if jobs %}
        <table id="jobs" class="table table-striped table-bordered" style="align: center;">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publish date</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Apply?</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.title }}</td>
                    <td>{{ job.createdAt|date("d/m/Y") }}</td>
                    {% if is_granted('ROLE_USER') %}
                        <td><a href="{{ path('job_apply', {'id': job.id}) }}">
                                <i class="fa fa-briefcase fa-2x"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="3">
                        {{ job.description }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publish date</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Apply?</th>
                {% endif %}
            </tr>
            </tfoot>
        </table>
        {% else %}
            <h2>Sorry not jobs available!!</h2>
        {% endif %}

    </div>
{% endblock %}
