<table>
    <tr>
        <td>Name:</td>
        <td>{{ user.identity }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>Job Title:</td>
        <td>{{ job.title }}</td>
    </tr>
    <tr>
        <td>Job Description:</td>
        <td>{{ job.description }}</td>
    </tr>
</table>
