{% extends 'base.html.twig' %}

{% block title %}Index Jobs{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        {{ form_start(form)}}
            {{ form_row(form.identity)}}
            {{ form_row(form.email) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
